
    @Benchmark
    public void [[TEST]][[TEST_TYPE]][[OP_NAME]](Blackhole bh) {
        $type$[] as = fa.apply(size);
        $type$[] bs = fb.apply(size);
        $type$[] rs = fr.apply(size);

        for (int ic = 0; ic < INVOC_COUNT; ic++) {
            for (int i = 0; i < as.length; i++) {
                $type$ a = as[i];
                $type$ b = bs[i];
                rs[i] = ($type$)([[TEST_OP]]);
            }
        }

        bh.consume(rs);
    }
