
    @Benchmark
    public void [[TEST]][[TEST_TYPE]][[OP_NAME]](Blackhole bh) {
        boolean[] ms = fm.apply(size);
        boolean r = [[TEST_INIT]];
        for (int ic = 0; ic < INVOC_COUNT; ic++) {
            r = [[TEST_INIT]];
            for (int i = 0; i < ms.length; i++) {
                r [[TEST_OP]]= ms[i];
            }
        }
        bh.consume(r);
    }
