
    @Benchmark
    public void [[TEST]][[TEST_TYPE]][[OP_NAME]](Blackhole bh) {
        $type$[] a = fa.apply(SPECIES.length());
        boolean[] mask = fm.apply(SPECIES.length());
        VectorMask<$Wideboxtype$> vmask = VectorMask.fromValues(SPECIES, mask);
        $type$ ra = [[TEST_INIT]];

        for (int ic = 0; ic < INVOC_COUNT; ic++) {
            ra = [[TEST_INIT]];
            for (int i = 0; i < a.length; i += SPECIES.length()) {
                $abstractvectortype$ av = $abstractvectortype$.fromArray(SPECIES, a, i);
                ra = ($type$)Math.min(ra, av.[[TEST]](vmask));
            }
        }
        bh.consume(ra);
    }
