grant {
    permission java.util.PropertyPermission "os.name", "read";
    permission java.lang.RuntimePermission "java.foreign.getDefaultLibrary";
};
